body {
  margin: 0;
  overflow: hidden;
  background-color: #87ceeb;
  position: relative;
  height: 100vh;
}

#container {
  width: 100%;
  height: 100vh;
  background-color: #1483cc;
  overflow: hidden;
  animation: colors 20s infinite linear;
}

.sun {
  position: absolute;
  top: 10%;
  left: 45%;
  width: 150px;
  height: 150px;
  background-color: #ffd321;
  border-radius: 50%;
  box-shadow: 0px 0px 100px 1px rgb(255, 221, 29);
}


 .pokemon {
    z-index: 3;
    position:absolute;
    top:45%;
    left:37%;
 }
 #pok{
    width:50%;
    height:50%;
 }
.ground{
  z-index: 2;
    position: absolute;
    top:60%;
    width:100%;
    height:55%;
    background: rgb(5,61,19);
    background: linear-gradient(90deg, rgb(8, 138, 40) 0%, rgba(10,121,9,1) 35%, rgb(23, 134, 12)100%);
}
.flowers {
  width: 205%;
  height: 100%;
  background-image: url('flowers.gif'); 
  background-repeat: repeat-x;
  position: absolute;
  top:31%;
  z-index: -1;
  
}
#f1{
  animation: moveFlowers 10s linear infinite;
}
#f2{
  animation: moveFlowers 10s linear infinite;
  animation-delay: 5s;
}
@keyframes moveFlowers {
  0% {
    z-index: 4;
      transform: translateX(100%);
  }
  100% {
    z-index: 4;
    transform: translateX(-100%);
}

}
.tree {
  width: 220px;
  height: 250px;
  background: url('tree.webp') center/cover; 
  position: absolute;
  top:24%;
  z-index: -1;
}
#t1{ 
  animation: moveTree 10s linear infinite;
  animation-delay: 0s;
}

#t2{ 
  animation: moveTree 10s linear infinite;
  animation-delay: 2,5s;
}

#t3{ 
  animation: moveTree 10s linear infinite;
  animation-delay: 5s;
}

#t4{ 
  animation: moveTree 10s linear infinite;
  animation-delay: 7,5s;
}
@keyframes moveTree {
  0% {
    z-index: 1;
      transform: translateX(1000%);
  }
  100% {
    z-index: 1;
      transform: translateX(-100%);
  }
}
